@model CheckOfficeDto
@{ Layout = ""; }
@{ User user = new User();

    if (ViewData["User-Data"] is object)
    {
        user = ViewData["User-Data"] as User;
    } }
<!DOCTYPE html>
<html>
<head>
    <title>Əməliyyat Çeki</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="~/admin/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body class="body-tx">
    <div class="container justify-content-center p-4 mb-5">
        <div class="row justify-content-center mb-5">
            <div class="col-4"><b>Kassa Mədaxil Orderinin Qəbzi</b></div>
            <div class="col-4"><b>Tarix </b>@Model.Payment.CostDate.ToShortDateString()</div>
            <div class="col-4"><b>No :</b> @Model.Payment.Id</div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-3"><b>Kimdən </b></div>
            <div class="col-4 text-center"><p style="border-bottom:solid 1px black;"><i>Xəmsə Kursları</i></p></div>
            <div class="col-1"><b>Məbləğ </b></div>
            <div class="col-4 text-center"> <p style="border:solid 1px black;" class="p-2">@Model.Payment.Cost AZN</p></div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-3"><b>Nə üçün </b></div>
            <div class="col-4 text-center"><p style="border-bottom:solid 1px black;"><i>@Model.Payment.Description</i></p></div>
            <div class="col-1"></div>
            <div class="col-4"></div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-3"><b>Məbləğ yazı ilə </b></div>
            <div class="col-4 text-center"><p style="border-bottom:solid 1px black;"></p></div>
            <div class="col-1"></div>
            <div class="col-4"></div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-6">
                <b>M.Y</b>
            </div>
            <div class="col-6">
                <div class="row mb-3">
                    <div class="col-6"><b>Rəhbər</b></div>
                    <div class="col-6"><p style="border-bottom:solid 1px black;"></p></div>
                </div>
                <div class="row mb-3">
                    <div class="col-6"><b>Baş Mühasib</b></div>
                    <div class="col-6"><p style="border-bottom:solid 1px black;"></p></div>
                </div>
                <div class="row mb-3">
                    <div class="col-6"><b>Qəbul edən</b></div>
                    <div class="col-6"><p style="border-bottom:solid 1px black;"><i>@user.Name @user.Surname</i></p></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container justify-content-center p-4 mb-5">
        <div class="row justify-content-center mb-5">
            <div class="col-4"><b>Kassa Mədaxil Orderinin Qəbzi</b></div>
            <div class="col-4"><b>Tarix </b>@Model.Payment.CostDate.ToShortDateString()</div>
            <div class="col-4"><b>No :</b> @Model.Payment.Id</div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-3"><b>Kimdən </b></div>
            <div class="col-4 text-center"><p style="border-bottom:solid 1px black;"><i>Xəmsə Kursları</i></p></div>
            <div class="col-1"><b>Məbləğ </b></div>
            <div class="col-4 text-center"> <p style="border:solid 1px black;" class="p-2">@Model.Payment.Cost AZN</p></div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-3"><b>Nə üçün </b></div>
            <div class="col-4 text-center"><p style="border-bottom:solid 1px black;"><i>@Model.Payment.Description</i></p></div>
            <div class="col-1"></div>
            <div class="col-4"></div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-3"><b>Məbləğ yazı ilə </b></div>
            <div class="col-4 text-center"><p style="border-bottom:solid 1px black;"></p></div>
            <div class="col-1"></div>
            <div class="col-4"></div>
        </div>
        <div class="row justify-content-center mb-5">
            <div class="col-6">
                <b>M.Y</b>
            </div>
            <div class="col-6">
                <div class="row mb-3">
                    <div class="col-6"><b>Rəhbər</b></div>
                    <div class="col-6"><p style="border-bottom:solid 1px black;"></p></div>
                </div>
                <div class="row mb-3">
                    <div class="col-6"><b>Baş Mühasib</b></div>
                    <div class="col-6"><p style="border-bottom:solid 1px black;"></p></div>
                </div>
                <div class="row mb-3">
                    <div class="col-6"><b>Qəbul edən</b></div>
                    <div class="col-6 text-center"><p style="border-bottom:solid 1px black;"><i>@user.Name @user.Surname</i></p></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.print();
    </script>
    <script src="~/admin/vendor/jquery/jquery.min.js"></script>
    <script>
        $(".body-tx").click(function () {
            window.location.replace("@Url.Action("Index","Office", new { Area = "Admin", id = Model.Sector.Id })")
        })
    </script>
</body>
</html>
